# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
# *.a
#*.lib

# Executables
*.exe
*.out
*.app

.vs/
.vscode/
build/

src/modio.so
src/modio.dylib
src/modio.dll
src/modio.lib
src/modio.exp
src/modio.a

# mdBook for release workflow
book/src
book/docs

!examples/c/mods_dir/readme.txt
!examples/c++/mods_dir/readme.txt
