# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
# *.a
#*.lib

# Executables
*.exe
*.out
*.app

src/modio.so
src/modio.dylib
src/modio.dll
src/modio.lib
src/modio.exp
src/modio.a
examples/.modio/
examples/mods_dir/*
!examples/mods_dir/readme.txt
examples/modio.dll
examples/modio.lib
examples/modio.a
examples/*.dll

examples/1_Authentication
examples/2_BrowseMods
examples/3_ErrorResponse
examples/4_HandleImages
examples/5_HandleModfiles
examples/6_CreateMod
examples/7_EditMod
examples/8_DeleteMod
examples/9_HandleTags
